@{
    Layout = null;
}

<a href="/Default/Index">Index Sayfası</a>
<a href="/Default/Musteriler">Müşteri Sayfası</a>
<h1>Ürünler Sayfası</h1>
<h3>@ViewBag.m3</h3>
<h2>@ViewBag.m2</h2>
<h1>@ViewBag.m1</h1>
<h3>Toplam : @ViewBag.t</h3>
<h4>Çevre: @ViewBag.c</h4>
<h3>@ViewBag.v</h3>

<h6>Faktöriyel: @ViewBag.faktor</h6>